.menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #f59f0bd0 transparent;
}

.menu-scroll::-webkit-scrollbar {
  width: 20px;
}

.menu-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.menu-scroll::-webkit-scrollbar-thumb {
  background-color: #c17e0a;
  border-radius: 20px;
}

.menu-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #c17e0a;
}