<div class="flex h-screen"> <!-- contenedor principal ocupa toda la ventana -->

  <!-- Sidebar -->
  <div class="p-sidebar flex flex-column h-full w-64 surface-border">

    <!-- Logo / Header -->
    <div class="flex align-items-center justify-content-between px-4 py-3 border-bottom-1 surface-border">
      <div class="flex align-items-center gap-2">
        <div class="flex justify-content-center mb-3">
          <img src="/images/logo.jpg" alt="Logo MKapu" class="img-custom" />
        </div>
        <span class="font-bold text-sm">Mkapu Import</span>
      </div>
    </div>

    <!-- Menú -->
    <div class="flex-1 overflow-auto p-2">
      <ul class="list-none m-0 p-0">
        <li>
          <a class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          [routerLink]="'/inicio/dashboard'"
          routerLinkActive="bg-primary text-black border-round"
          style="text-decoration: none; display: flex; color: white;">
            <i class="pi pi-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400">
            <i class="pi pi-bookmark"></i>
            <span>Ventas</span>
          </a>
        </li>
        <li>
          <a class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
            [routerLink]="'/inicio/almacen'"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; display: flex; color: white;">
            <i class="pi pi-chart-line"></i>
            <span>Almacen</span>
          </a>
        </li>
        <li>
          <a class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:bg-primary hover:text-white rounded"
            [routerLink]="'/inicio/administracion'"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; display: flex; color: white;">
            <i class="pi pi-users"></i>
            <span>Administrador</span>
          </a>
        </li>
      </ul>
    </div>
    

    <!-- Footer fijo abajo -->
    <div class="mt-auto border-top-1 surface-border p-3 flex align-items-center gap-2">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      <span class="font-bold">Admin</span>
      <p-button class="ml-7" icon="pi pi-sign-out" (onClick)="confirm2($event)" severity="danger" />
    </div>

  </div>

  <!-- Aquí podrías tener el contenido principal -->
  <p-toast />
  <p-confirmdialog />
</div>
