<div class="flex h-screen">
  <div class="p-sidebar flex flex-column h-full w-64 surface-border text-white">

    <!-- HEADER -->
    <div class="flex align-items-center justify-content-between px-4 py-3 border-bottom-1 surface-border">
      <div class="flex align-items-center gap-2">
        <div class="flex justify-content-center mb-3">
          <img src="/images/logo.jpg" alt="Logo MKapu" class="img-custom" />
        </div>
        <span class="font-bold text-sm">Mkapu Import</span>
      </div>
    </div>

    <div class="flex-1 overflow-auto p-2">

      <div class="mt-2" *ngIf="role === 'ventas'">
        <a
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          [routerLink]="'/ventas/generar-venta'"
          routerLinkActive="bg-primary text-black border-round"
          style="text-decoration: none; color: white;"
        >
          <i class="pi pi-bookmark"></i>
          <span>Dashboard</span>
        </a>
      </div>


      <div class="mt-2" *ngIf="role === 'almacen'">
        <a
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          [routerLink]="'/almacen/dashboard'"
          routerLinkActive="bg-primary text-black border-round"
          style="text-decoration: none; color: white;"
        >
          <i class="pi pi-chart-line"></i>
          <span>Dashboard</span>
        </a>
      </div>



      <div class="mt-2" *ngIf="role === 'admin'">

        <a
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          [routerLink]="'/admin/dashboard'"
          routerLinkActive="bg-primary text-black border-round"
          style="text-decoration: none; color: white;"
        >
          <i class="pi pi-home"></i>
          <span>Dashboard</span>
        </a>

        <div
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          (click)="toggleMenu('vistas')"
        >
          <i class="pi pi-eye"></i>
          <span class="flex-1">Ver Vistas</span>
          <i
            class="pi"
            [ngClass]="activeMenu === 'vistas' ? 'pi-chevron-down' : 'pi-chevron-right'"
          ></i>
        </div>

        <div *ngIf="activeMenu === 'vistas'" class="ml-4">
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Ver vista Ventas
          </a>

          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Ver vista Almacén
          </a>
        </div>

        <div
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          (click)="toggleMenu('reportes')"
        >
          <i class="pi pi-chart-bar"></i>
          <span class="flex-1">Reportes</span>
          <i
            class="pi"
            [ngClass]="activeMenu === 'reportes' ? 'pi-chevron-down' : 'pi-chevron-right'"
          ></i>
        </div>

        <div *ngIf="activeMenu === 'reportes'" class="ml-4">
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Reporte Ventas
          </a>

          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Reporte Inventario
          </a>
        </div>

        <div
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          (click)="toggleMenu('ventas')"
        >
          <i class="pi pi-chart-bar"></i>
          <span class="flex-1">Ventas</span>
          <i
            class="pi"
            [ngClass]="activeMenu === 'ventas' ? 'pi-chevron-down' : 'pi-chevron-right'"
          ></i>
        </div>

        <div *ngIf="activeMenu === 'ventas'" class="ml-4">
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Ventas
          </a>
        </div>
        <div *ngIf="activeMenu === 'ventas'" class="ml-4">
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            [routerLink]="'/ventas/cliente'"
            style="text-decoration: none; color: white;"
          >
            Clientes
          </a>
        </div>
        <div
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          (click)="toggleMenu('admin')"
        >
          <i class="pi pi-users"></i>
          <span class="flex-1">Administración</span>
          <i
            class="pi"
            [ngClass]="activeMenu === 'admin' ? 'pi-chevron-down' : 'pi-chevron-right'"
          ></i>
        </div>

        <div *ngIf="activeMenu === 'admin'" class="ml-4">
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            [routerLink]="'/admin/sedes'"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Gestion de Sedes
          </a>

          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            [routerLink]="['/admin/usuarios']"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Gestion de Usuarios
          </a>

          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            [routerLink]="['/admin/gestion-productos']"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Gestion de Productos
          </a>

          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Gestion de Promociones
          </a>
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            [routerLink]="'/admin/sedes'"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Sedes
          </a>
          <a
            class="flex px-4 py-2 cursor-pointer hover:surface-400"
            [routerLink]="'/admin/clientes'"
            routerLinkActive="bg-primary text-black border-round"
            style="text-decoration: none; color: white;"
          >
            Clientes
          </a>
        </div>

        <a
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          routerLinkActive="bg-primary text-black border-round"
          style="text-decoration: none; color: white;"
        >
          <i class="pi pi-book"></i>
          <span>Libro de Ventas</span>
        </a>

        <a
          class="flex align-items-center px-4 py-2 gap-2 cursor-pointer hover:surface-400"
          routerLinkActive="bg-primary text-black border-round"
          style="text-decoration: none; color: white;"
        >
          <i class="pi pi-user"></i>
          <span>Perfil</span>
        </a>
        
      </div>



    </div>

    <div class="mt-auto border-top-1 surface-border p-3 flex align-items-center gap-2">

      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      ></p-avatar>

      <span class="font-bold">
        {{ role ? (role | titlecase) : 'Invitado' }}
      </span>

      <p-button
        class="ml-auto"
        icon="pi pi-sign-out"
        severity="danger"
        (onClick)="confirm2($event)"
      ></p-button>
    </div>

  </div>

  <p-toast></p-toast>
  <p-confirmdialog></p-confirmdialog>
</div>
