<div class="card">
    <p-toolbar>
        <ng-template #start>
             <p-button
                icon="pi pi-bars"
                class="mr-2 menu-button"
                text
                severity="secondary"
                (onClick)="toggleSidebar.emit()"
            ></p-button>    
        </ng-template>
        <ng-template #center>
            <input pInputText type="text" placeholder="Buscar" />
        </ng-template>
        <ng-template #end>
            <p-button icon="pi pi-bell" class="mr-2" text severity="secondary" />
            <p-button 
            [icon]="themeService.isDark() ? 'pi pi-sun' : 'pi pi-moon'" 
            class="mr-2" 
            text 
            severity="secondary"
            (click)="toggleTheme()">
            </p-button>
        </ng-template>
    </p-toolbar>
</div>
