<div class="p-4">

  <!-- Breadcrumb -->
  <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

  <h2 class="mt-3 mb-4">Crear Nuevo Usuarios</h2>

  <!-- Asignación de Rol -->
  <p-card header="Asignación de Rol" class="mb-4">
    <div class="grid">
      <div class="col-12 md:col-4" *ngFor="let rol of roles">
        <div
          class="rol-card"
          [class.selected]="rolSeleccionado === rol.value"
          (click)="rolSeleccionado = rol.value"
        >
          <i class="pi {{ rol.icon }} rol-icon"></i>
          <h4>{{ rol.label }}</h4>
          <p>{{ rol.description }}</p>

          <p-radioButton
            name="rol"
            [value]="rol.value"
            [(ngModel)]="rolSeleccionado">
          </p-radioButton>
        </div>
      </div>
    </div>
  </p-card>

  <!-- Formularios -->
  <div class="grid">

    <!-- Datos personales -->
    <div class="col-12 md:col-6">
      <p-card header="Datos Personales">

        <!-- DNI -->
        <div class="field">
          <label>DNI</label>
          <input
            pInputText
            maxlength="8"
            placeholder="Ingrese DNI"
            [(ngModel)]="usuarioForm.dni"
            (keypress)="soloNumeros($event)"
            class="w-full" />
        </div>
        

        <div class="field">
          <label>Nombre Completos</label>
          <input
            pInputText
            [(ngModel)]="usuarioForm.nombres"
            class="w-full" />
        </div>

        <div class="field">
          <label>Sede Asignada</label>
          <div class="flex flex-column gap-2 w-full">
            <div
              class="flex align-items-center"
              *ngFor="let sede of sedes">
              <p-radioButton
                name="sede"
                [value]="sede.value"
                [(ngModel)]="usuarioForm.id_sede">
              </p-radioButton>
              <label class="ml-2">{{ sede.label }}</label>
            </div>
          </div>
        </div>

        <div class="field">
          <label>Correo Electrónico</label>
          <input
            pInputText
            type="email"
            [(ngModel)]="usuarioForm.email"
            class="w-full" />
        </div>

      </p-card>
    </div>

    <!-- Credenciales -->
    <div class="col-12 md:col-6">
      <p-card header="Credenciales de Acceso">

        <div class="field">
          <label>Usuario</label>
          <input
            pInputText
            [(ngModel)]="usuarioForm.usuario"
            class="w-full" />
        </div>

        <div class="field">
          <label>Contraseña</label>
          <p-password
            [(ngModel)]="usuarioForm.password"
            toggleMask
            styleClass="w-full">
          </p-password>
        </div>

        <div class="field">
          <label>Confirmar Contraseña</label>
          <p-password
            [(ngModel)]="usuarioForm.confirmPassword"
            toggleMask
            styleClass="w-full">
          </p-password>
        </div>

      </p-card>
    </div>

  </div>

  <div class="flex justify-content-end mt-4">
    <button
      pButton
      label="Crear Usuario"
      icon="pi pi-save"
      (click)="guardarUsuario()">
    </button>
  </div>

</div>
